doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
		meta(name="keywords" content="刘庆华，个人博客，个人网站，网站开发")
		meta(name="description" content="刘庆华的个人博客，专注于全栈开发" )
		link(rel="stylesheet" type="text/css" href="./css/normalize.css")
		link(rel="stylesheet" type="text/css" href="./css/article.css")
	body
		.article
			.bread-crumb
				a(href="/") 博客首页
				b >
				a(href="/blog") 日志列表
				b >
				span 日志详情
			.top
				p.type 分类：
					a(href="javascript:;")= articleMsg.name
				ul
					if aboutData.length
						if aboutData.length === 1
							if prev
								li
									span 上一篇：
									a(href="/article?id=" + aboutData[0].articleId)= aboutData[0].title
							if next
								li
									span 下一篇：
									a(href="/article?id=" + aboutData[0].articleId)= aboutData[0].title
						else
							li
								span 上一篇：
								a(href="/article?id=" + aboutData[0].articleId)= aboutData[0].title
							li
								span 下一篇：
								a(href="/article?id=" + aboutData[1].articleId)= aboutData[1].title

			.main
				h1.title= articleMsg.title
				p.author= '作者：' + articleMsg.author
				p.date= '日期：' + articleMsg.date
				iframe(id="mainFrame" name="mainFrame" src=articleMsg.src width="100%" height="1000" frameborder="no" scrolling="no")

			if msgLen !== 0
				.msg
					h2#msgLen= '留言（'+ msgLen +'条）'
					ul#msgList
						each val in msgData
							li
								.msg-wrap
									.photo
										img(src=val.photo width="72" height="72")
										span(title=val.nickName)= val.nickName 
									.msg-right
										.msg-cnt
											p= val.content
								.msg-info 
									a.zan(href="javascript:;" title="赞" data-commentid=val.cId)
										i.iconfont.icon-zan
										span= '(' + val.zan + ')'
									a.cai(href="javascript:;" title="踩" data-commentid=val.cId)
										i.iconfont.icon-cai
										span= '(' + val.cai + ')'
									p= val.date
								a.floor(href="javascript:;")= '#' + val.floor + '楼'

			.leave-word
				h2 我要发表看法
				dl
					dt * 您的留言：
					dd
						textarea#msgContent(placeholder="请输入留言")
				dl
					dt * 您的昵称：
					dd
						input#nickName(type="text")
				dl
					dt 头像：（建议尺寸72*72，支持 jpg | png | bmp | gif）
					dd
						input#picker(type="file" name="logo")
						span#selFile.sel-file(title="images/default.jpg") 未选择任何文件
						img#loading(src="./images/loading.gif")
				input#publish.publish(type="button" value="发表")
		script(src="./js/jquery-3.1.1.js")
		script(src="./js/layer/layer.js")
		script(src="./js/article.js")
			
							






