extends include/layout.pug
block head-area-extra-css
	link(rel='stylesheet', href='/css/admin/tab.css')
	link(rel='stylesheet', href='/css/admin/commentManage.css')

block body-area-contents
	.box
		table#tab.tab(data-number=totalComment.number)
			thead
				tr
					th(width='5%') id
					th(width='15%') 昵称
					th(width='35%') 内容
					th(width='10%') 赞
					th(width='10%') 踩
					th(width='15%') 日期
					th(width='10%') 操作
			tbody
				if data.length
					each val,index in data
						tr
							td= val.cId
							td= val.nickName
							td= val.content
							td= val.zan
							td= val.cai
							td= val.date
							td
								a.delete(href='javascript:;' data-id=val.cId) 删除
				else
					tr
						td(colspan="7") 暂无数据
		#page
			

block body-area-script
	script(src='/js/laypage/laypage.js')
	script(src='/js/layer/layer.js')
	script(src='/js/admin/commentManage.js')